absl-py==0.3.0
astor==0.7.1
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
cx-Freeze==5.1.1
cycler==0.10.0
gast==0.2.0
grpcio==1.13.0
h5py==2.8.0
icon==0.0.3
idna==2.7
IndicoIo==1.1.5
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==2.2.3
msgpack==0.5.6
msgpack-numpy==0.4.3.1
numpy==1.15.0
pandas==0.23.4
Pillow==9.3.0
praw==6.0.0
prawcore==1.0.0
protobuf==3.6.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
regex==2018.8.17
requests==2.20.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
sklearn==0.0
tensorboard==1.9.0
tensorflow==1.15.0
termcolor==1.1.0
twitter==1.18.0
unicode==2.6
update-checker==0.16
urllib3==1.24.2
Werkzeug==0.15.3
youtube-dl==2015.7.4
